<div class="mx-auto py-8 w-full flex flex-col items-center justify-center">
  <span class="text-sm">&copy; {{date format="YYYY"}}. Дмитрий Плетнев.</span>
  <span class="text-sm">Все права защищены.</span>
</div>
